################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.vs/CheckChecker/v17/.wsuo
/.vs/slnx.sqlite
